@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo,
h2 {
  font-family: 'Grand Hotel', cursive;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
